.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 350px;
  height: 400px;
  background-color: rgb(255, 162, 47);
  border-radius: 20%;
  padding: 15px;

  &__button {
    font-weight: bold;
    font-size: 30px;
    height: 50px;
    width: 60%;
    border-radius: 150px;
    background-color: rgb(43, 253, 24);
    &:hover {
      background-color: rgb(222, 243, 34);
    }
  }
}

.input-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 30px;

  &__info {
    font-weight: bold;
    text-align: center;
  }
  &__input {
    padding: 0 10px;
    font-size: 30px;
    width: 100%;
  }
}

.auth {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.auth-success {
  font-weight: bold;
  font-size: 32px;
  color: green;
}
.auth-success-link {
  display: flex;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 150px;
  padding: 0 10px;
  font-size: 32px;
  text-decoration: none;
  color: blue;
  &:hover {
    background-color: chartreuse;
  }
}
