@import "./_variables";
@import "./_settings";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 1298px;
  margin: 0 auto;
  gap: 51px;
}

.header {
  @include rectangle(1298px, 80px);
  @include bottom-line;
  display: flex;
  text-align: center;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  line-height: 28px;

  &__block {
    display: flex;

    gap: 12px;
  }
  &__title {
    font-size: 32px;
  }
  &__img {
    @include img(30px, "./sources/Icon2.png");
  }
}

.user-block {
  display: flex;
  gap: 25px;
  &__text {
    font-size: 32px;
  }
}

main {
  display: flex;
  gap: 20px;
  padding: 0 24px;
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 920px;
}

.search-block {
  @include rectangle(920px, 80px);
  @include bottom-line;
  display: flex;
  gap: 26px;
  flex-direction: column;
}

.sort-block {
  padding: 0 7px;
  display: flex;
  gap: 35px;
  font-size: 16px;
}

.sort-block-by-price {
  display: flex;
  align-content: center;
  &__img {
    @include img(20px, "./sources/Sort.png");
  }
}
.sort-block-by-category {
  display: flex;
  align-content: center;
  &__img {
    @include img(22px, "./sources/Caretdown.png");
  }
}
.search-input-block {
  display: flex;
  padding: 0 7px;
  align-items: center;
  gap: 10px;
  @include rectangle(920px, 32px);
  &__img {
    @include img(17.5px, "./sources/Search.png");
  }
}

.shop-items-block {
  padding: 0 7px;
  display: grid;
  gap: 23px;
  grid-template-columns: 1fr 1fr;
  @include rectangle(862px, 100%);
}

.shop-item {
  display: flex;
  @include rectangle(360px, 110px);

  flex-shrink: 0;
  &__img {
    @include img(110px, "./sources/Rec.png");
  }
  &__info-block {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include rectangle(265px, 110px);
  }
  &__title {
    font-size: 16px;
  }
  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include rectangle(265px, 37px);
  }
  &__button {
    @include rectangle(130px, 37px);
    background: #c4c4c4;
    border-radius: 8px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__price {
    font-size: 24px;
  }
}

.cart-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px 12px 0 12px;
  position: sticky;
  top: 45px;
  @include rectangle(309px, 700px);

  &__items {
    @include rectangle(309px, 600px);
    overflow: auto;
    scrollbar-width: none;
  }
  .cart-block__items::-webkit-scrollbar {
    width: 0;
  }
  &__title-cart {
    height: 45px;
    font-size: 32px;
    display: flex;
    gap: 15px;
  }
  &__img-cart {
    @include img(32px, "./sources/Icon.png");
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include rectangle(285px, 65px);
    @include bottom-line;
  }
  &__info {
    display: flex;
    flex-direction: column;
  }
  &__title-item {
    font-size: 16px;
  }
  &__count-item {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__price-item {
    font-size: 18px;
  }
  &__img-item {
    flex-shrink: 0;
    @include img(9px, "./sources/Union.png");
  }
  &__buy-block {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-direction: column;
    @include rectangle(285px, 150px);
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
  }
  &__buy-price {
    font-size: 32px;
  }
  &__buy-button {
    @include rectangle(201px, 42px);
    background-color: #c4c4c4;
    border-radius: 8px;
    flex-shrink: 0;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__items-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
