@import "./_mixins";
@import "./_settings";

.wrapper {
  @include flex("col", 51px);
  width: 1275px;
  margin: 0 auto;
}

.header {
  @include flex();
  @include rectangle(1275px, 80px);
  @include bottom-line;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  line-height: 28px;

  &__title-block {
    @include flex("", 12px);
  }
  &__shop-img {
    @include img("./sources/Icon2.png", 30px);
  }
  &__text {
    font-size: 32px;
  }
}

main {
  @include flex("", 20px);
  padding: 0 24px;
}

.content-block {
  @include flex("col", 30px);
  width: 920px;
}

.search-block {
  @include flex("col", 26px);
  @include rectangle(920px, 80px);
  @include bottom-line;
}

.sort-block {
  flex-shrink: 0;
  @include flex("", 35px);
  padding: 0 7px;
  font-size: 16px;
  &__element {
    @include flex();
    align-content: center;
  }
  &__img-price {
    @include img("./sources/Sort.png", 20px);
  }
  &__img-category {
    @include img("./sources/Caretdown.png", 22px);
  }
}

.search-input-block {
  @include flex("", 10px);
  @include rectangle(920px, 50px);
  padding: 0 7px;
  align-items: center;

  &__img {
    @include img("./sources/Search.png", 20px);
  }
  &__input {
    font-size: 20px;
    width: 100%;
  }
}

.shop-items-block {
  @include rectangle(862px, 100%);
  display: grid;
  gap: 23px;
  grid-template-columns: repeat(2, 360px);
  grid-template-rows: repeat(2, 110px);
  padding: 0 7px;
}

.shop-item {
  @include flex("", 10px);
  @include rectangle(360px, 110px);

  &__img {
    @include rectangle(80px, 110px);
    @include img("./sources/Rec.png", none);
    background-color: #c4c4c4;
  }
  &__info-block {
    @include flex("col");
    @include rectangle(265px, 110px);
    justify-content: space-between;
  }
  &__name-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    white-space: normal;
    font-size: 16px;
  }
  &__interaction-block {
    @include flex();
    @include rectangle(265px, 37px);
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    @include button(130px, 37px, 20px);
  }
  &__price {
    font-size: 24px;
  }
}

.cart-block {
  @include flex("col", 0);
  @include rectangle(309px, 730px);
  justify-content: space-between;
  padding: 12px 12px 0 12px;
  position: sticky;
  top: 45px;
  overflow: hidden;

  &__title-cart {
    @include flex("", 15px);
    height: 45px;
    font-size: 32px;
  }
  &__img-cart {
    @include img("./sources/Icon.png", 32px);
  }
  &__items {
    @include flex("col", 20px);
    @include rectangle(309px, 530px);
    overflow: auto;
    padding-right: 17px;
  }
  &__buy-block {
    @include flex("col", 12px);
    @include rectangle(285px, 150px);
    align-items: center;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
  }
  &__buy-price {
    font-size: 32px;
  }
  &__buy-button {
    @include button(201px, 42px, 24px);
  }
}

.cart-item {
  @include flex();
  @include rectangle(275px, 65px);
  @include bottom-line;
  align-items: center;
  justify-content: space-between;

  &__info {
    @include flex();
    align-items: center;
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    font-size: 16px;
  }
  &__count {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__price {
    font-size: 18px;
  }
  &__button {
    @include img("./sources/Union.png", 9px);
    flex-shrink: 0;
  }
}
