@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0px;
  border: 0px;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
}

@media screen and (max-width: 1100px) {
  .shop-items-block {
    -ms-grid-columns: (360px)[1];
        grid-template-columns: repeat(1, 360px);
    -ms-grid-rows: (110px)[1];
        grid-template-rows: repeat(1, 110px);
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 51px;
  margin: 0 auto;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1275px;
  min-width: 800px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 80px;
  -webkit-box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
          box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 28px;
}

.header__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 12px;
}

.header__shop-img {
  width: 30px;
  height: 30px;
  background-image: url("./sources/Book.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.header__text {
  font-size: 32px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 20px;
  padding: 0 24px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  width: 50%;
  min-width: 400px;
}

.search-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
  width: 50%;
  height: 80px;
  -webkit-box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
          box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
  min-width: 400px;
}

.sort-block {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 35px;
  padding: 0 7px;
  font-size: 16px;
}

.sort-block__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sort-block__img-price {
  width: 20px;
  height: 20px;
  background-image: url("./sources/Sort.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.sort-block__img-category {
  width: 22px;
  height: 22px;
  background-image: url("./sources/Caretdown.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.search-input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  width: 920px;
  height: 50px;
  padding: 0 7px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.search-input-block__img {
  width: 20px;
  height: 20px;
  background-image: url("./sources/Search.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.search-input-block__input {
  font-size: 20px;
  width: 100%;
}

.shop-items-block {
  width: 50%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  gap: 23px;
  -ms-grid-columns: (360px)[2];
      grid-template-columns: repeat(2, 360px);
  -ms-grid-rows: (110px)[2];
      grid-template-rows: repeat(2, 110px);
  padding: 0 7px;
}

.shop-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 10px;
  width: 360px;
  height: 110px;
}

.shop-item__img {
  width: 80px;
  height: 110px;
  background-image: url("./sources/Rec.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #c4c4c4;
}

.shop-item__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 265px;
  height: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-item__name-item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
  white-space: normal;
  font-size: 16px;
}

.shop-item__interaction-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 265px;
  height: 37px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shop-item__button {
  width: 130px;
  height: 37px;
  font-size: 20px;
  background: #c4c4c4;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.shop-item__price {
  font-size: 24px;
}

.cart-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
  width: 309px;
  height: 60vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 12px 0 12px;
  position: -webkit-sticky;
  position: sticky;
  top: 45px;
  max-height: 700px;
  min-height: 300px;
  width: 50%;
  max-width: 309px;
}

.cart-block ::-webkit-scrollbar {
  width: 0px;
}

.cart-block__items-block {
  overflow-x: hidden;
  overflow-y: scroll;
}

.cart-block__title-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 15px;
  height: 45px;
  font-size: 32px;
}

.cart-block__img-cart {
  width: 32px;
  height: 32px;
  background-image: url("./sources/Cart.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  width: 309px;
  height: auto;
  overflow: auto;
  padding-right: 17px;
}

.cart-block__buy-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
  width: 285px;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
  padding: 15px;
}

.cart-block__buy-price {
  font-size: 32px;
}

.cart-block__buy-button {
  width: 201px;
  height: 42px;
  font-size: 24px;
  background: #c4c4c4;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 275px;
  height: 65px;
  -webkit-box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
          box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-item__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart-item__name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  font-size: 16px;
}

.cart-item__count {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

.cart-item__price {
  font-size: 18px;
}

.cart-item__button {
  width: 9px;
  height: 9px;
  background-image: url("./sources/Union.png");
  background-size: contain;
  background-repeat: no-repeat;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media screen and (max-width: 1100px) {
  .shop-items-block {
    -ms-grid-columns: (360px)[1];
        grid-template-columns: repeat(1, 360px);
    -ms-grid-rows: (110px)[1];
        grid-template-rows: repeat(1, 110px);
  }
}
