<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="shop.css" />
    <title>shop</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <div class="header__title-block">
          <div class="header__shop-img"></div>
          <span class="header__text">Магазин книг</span>
        </div>
        <span class="header__text">Баланс: 10200 руб.</span>
      </header>
      <main class="main">
        <div class="content-block">
          <div class="search-block">
            <div class="sort-block">
              <button class="sort-block__element">
                Сортировать по цене
                <div class="sort-block__img-price"></div>
              </button>
              <button class="sort-block__element">
                Категория
                <div class="sort-block__img-category"></div>
              </button>
            </div>
            <div class="search-input-block">
              <div class="search-input-block__img"></div>
              <input
                type="text"
                class="search-input-block__input"
                placeholder="Введите название книги"
              />
            </div>
          </div>
          <div class="shop-items-block">
            <div class="shop-item">
              <div class="shop-item__img"></div>
              <div class="shop-item__info-block">
                <div class="shop-item__name-item">
                  Совершенный код. Мастер-класс
                </div>
                <div class="shop-item__interaction-block">
                  <div class="shop-item__price">150 руб.</div>
                  <button class="shop-item__button">В Корзину</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="cart-block">
          <div class="cart-block__title-cart">
            Корзина
            <div class="cart-block__img-cart"></div>
          </div>
          <div class="cart-block__items-block">
            <div class="cart-block__items">
              <div class="cart-item">
                <div class="cart-item__info">
                  <div class="cart-item__name">
                    Не заставляйте меня думать Не заставляйте меня думать Не
                    заставляйте меня думатьНе заставляйте меня думать
                    <div class="cart-item__count">1 шт.</div>
                    <div class="cart-item__price">870 руб.</div>
                  </div>
                </div>
                <button class="cart-item__button"></button>
              </div>
              <div class="cart-item">
                <div class="cart-item__info">
                  <div class="cart-item__name">
                    Не заставляйте меня думать Не заставляйте меня думать Не
                    заставляйте меня думатьНе заставляйте меня думать
                    <div class="cart-item__count">1 шт.</div>
                    <div class="cart-item__price">870 руб.</div>
                  </div>
                </div>
                <button class="cart-item__button"></button>
              </div>
              <div class="cart-item">
                <div class="cart-item__info">
                  <div class="cart-item__name">
                    Не заставляйте меня думать Не заставляйте меня думать Не
                    заставляйте меня думатьНе заставляйте меня думать
                    <div class="cart-item__count">1 шт.</div>
                    <div class="cart-item__price">870 руб.</div>
                  </div>
                </div>
                <button class="cart-item__button"></button>
              </div>
            </div>
          </div>
          <div class="cart-block__buy-block">
            <div class="cart-block__buy-price">3230 руб.</div>
            <button class="cart-block__buy-button">Купить</button>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
