<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="shop.css" />
    <title>shop</title>
  </head>
  <body>
    <div class="wrapper">
      <header class="header">
        <span class="header__title">Магазин</span>
        <div class="user-block">
          <span class="user-block__text">Баланс: 10200 руб.</span>
        </div>
      </header>
      <main class="main">
        <div class="content-block">
          <div class="search-block">
            <div class="sort-block">
              <div class="sort-block-by-price">
                Сортировать по цене
                <div class="sort-block-by-price__img"></div>
              </div>
              <div class="sort-block-by-category">
                Категория
                <div class="sort-block-by-category__img"></div>
              </div>
            </div>
            <div class="search-input-block">
              <div class="search-input-block__img"></div>
              <input type="text" placeholder="Введите название книги" />
            </div>
          </div>
          <div class="shop-items-block">
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
            <div class="shop-item"></div>
          </div>
        </div>
        <div class="cart-block">
          <div class="cart-block__items-block">
            <div class="cart-block__title-cart">
              Корзина
              <div class="cart-block__img-cart"></div>
            </div>
            <div class="cart-block__item">
              <div class="cart-block__info">
                <div class="cart-block__title-item">
                  Не заставляйте меня думать
                </div>
                <div class="cart-block__count-item">1 шт.</div>
                <div class="cart-block__price-item">870 руб.</div>
              </div>
              <div class="cart-block__img-item"></div>
            </div>
            <div class="cart-block__item">
              <div class="cart-block__info">
                <div class="cart-block__title-item">
                  Не заставляйте меня думать
                </div>
                <div class="cart-block__count-item">1 шт.</div>
                <div class="cart-block__price-item">870 руб.</div>
              </div>
              <div class="cart-block__img-item"></div>
            </div>
            <div class="cart-block__item">
              <div class="cart-block__info">
                <div class="cart-block__title-item">
                  Не заставляйте меня думать
                </div>
                <div class="cart-block__count-item">1 шт.</div>
                <div class="cart-block__price-item">870 руб.</div>
              </div>
              <div class="cart-block__img-item"></div>
            </div>
          </div>
          <div class="cart-block__buy-block"></div>
        </div>
      </main>
    </div>
  </body>
</html>
