@import "./_mixins";
@import "./_settings";
@import "./_adaptiv";
@import "./_variables";

.wrapper {
  @include flex("col", 51px);
  margin: 0 auto;
  width: 100%;
  align-items: center;
  max-width: 1275px;
  min-width: 800px;
}

.header {
  @include flex();
  @include rectangle(100%, 80px);
  @include bottom-line;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  line-height: 28px;

  &__title-block {
    @include flex("", 12px);
  }
  &__shop-img {
    @include img("./sources/Book.png", 30px);
  }
  &__text {
    font-size: $title-size;
  }
}

main {
  @include flex("", 20px);
  padding: 0 24px;
  width: 100%;
  justify-content: space-between;
}

.content-block {
  @include flex("col", 30px);
  width: 50%;
  min-width: 400px;
}

.search-block {
  @include flex("col", 26px);
  @include rectangle(50%, 80px);
  @include bottom-line;
  min-width: 400px;
}

.sort-block {
  flex-shrink: 0;
  @include flex("", 35px);
  padding: 0 7px;
  font-size: $name-size;
  &__element {
    @include flex();
    align-content: center;
  }
  &__img-price {
    @include img("./sources/Sort.png", 20px);
  }
  &__img-category {
    @include img("./sources/Caretdown.png", 22px);
  }
}

.search-input-block {
  @include flex("", 10px);
  @include rectangle(920px, 50px);
  padding: 0 7px;
  align-items: center;
  width: 100%;

  &__img {
    @include img("./sources/Search.png", 20px);
  }
  &__input {
    font-size: 20px;
    width: 100%;
  }
}

.shop-items-block {
  @include rectangle(50%, 100%);
  display: grid;
  gap: 23px;
  grid-template-columns: repeat(2, 360px);
  grid-template-rows: repeat(2, 110px);
  padding: 0 7px;
}

.shop-item {
  @include flex("", 10px);
  @include rectangle(360px, 110px);

  &__img {
    @include rectangle(80px, 110px);
    @include img("./sources/Rec.png", none);
    background-color: #c4c4c4;
  }
  &__info-block {
    @include flex("col");
    @include rectangle(265px, 110px);
    justify-content: space-between;
  }
  &__name-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    white-space: normal;
    font-size: $name-size;
  }
  &__interaction-block {
    @include flex();
    @include rectangle(265px, 37px);
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    @include button(130px, 37px, 20px);
  }
  &__price {
    font-size: 24px;
  }
}

.cart-block {
  @include flex("col", 0);
  @include rectangle(309px, 60vh);
  justify-content: space-between;
  padding: 12px 12px 0 12px;
  position: sticky;
  top: 45px;
  max-height: 700px;
  min-height: 300px;
  width: 50%;
  max-width: 309px;
  ::-webkit-scrollbar {
    width: 0px;
  }
  &__items-block {
    overflow-x: hidden;
    overflow-y: scroll;
  }
  &__title-cart {
    @include flex("", 15px);
    height: 45px;
    font-size: $title-size;
  }
  &__img-cart {
    @include img("./sources/Cart.png", 32px);
  }
  &__items {
    @include flex("col", 20px);
    @include rectangle(309px, auto);
    overflow: auto;
    padding-right: 17px;
  }
  &__buy-block {
    @include flex("col", 12px);
    @include rectangle(285px, 150px);
    align-items: center;
    box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    padding: 15px;
  }
  &__buy-price {
    font-size: $title-size;
  }
  &__buy-button {
    @include button(201px, 42px, 24px);
  }
}

.cart-item {
  @include flex();
  @include rectangle(275px, 65px);
  @include bottom-line;
  align-items: center;
  justify-content: space-between;

  &__info {
    @include flex();
    align-items: center;
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    font-size: $name-size;
  }
  &__count {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__price {
    font-size: 18px;
  }
  &__button {
    @include img("./sources/Union.png", 9px);
    flex-shrink: 0;
  }
}
@import "./_adaptiv";
