@import "/src/styles/mixins";
@import "/src/styles/variables";

.shop-item {
  @include flex("", 10px);
  @include rectangle(360px, 110px);

  &__img {
    @include rectangle(80px, 110px);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #c4c4c4;
  }
  &__info-block {
    @include flex("col");
    @include rectangle(265px, 110px);
    justify-content: space-between;
  }
  &__name-item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    white-space: normal;
    font-size: $name-size;
  }
  &__interaction-block {
    @include flex();
    @include rectangle(265px, 37px);
    align-items: center;
    justify-content: space-between;
  }
  &__price {
    font-size: 24px;
  }
}
