@import "/src/styles/mixins";
.search-input-block {
  @include flex("", 10px);
  @include rectangle(920px, 50px);
  padding: 0 7px;
  align-items: center;
  width: 100%;

  &__img {
    @include img("./Search.png", 20px);
  }
  &__input {
    font-size: 20px;
    width: 100%;
  }
}
