@mixin rectangle($width, $height) {
  width: $width;
  height: $height;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin bottom-line {
  box-shadow: 0px 1px 0px rgba(204, 204, 204, 0.25);
}

@mixin img($url, $size: none) {
  @if ($size != none) {
    @include square($size);
  }
  background-image: url($url);
  background-size: contain;
  background-repeat: no-repeat;
}

@mixin flex($direction: none, $gap: none) {
  display: flex;
  @if ($direction == "col") {
    flex-direction: column;
  } @else {
    flex-direction: row;
  }
  @if ($gap != none) {
    gap: $gap;
  }
}

@mixin button($width, $height, $fs) {
  @include rectangle($width, $height);
  font-size: $fs;
  background: #c4c4c4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
