@import "/src/styles/mixins";
@import "/src/styles/variables";
.cart-item {
  @include flex();
  @include rectangle(275px, 65px);
  @include bottom-line;
  align-items: center;
  justify-content: space-between;

  &__info {
    @include flex();
    align-items: center;
  }
  &__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
    font-size: $name-size;
  }
  &__count {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
  }
  &__price {
    font-size: 18px;
  }
}
